{
	"default": {
		"username": "",
		"password": "",
		"host": "",
		"port": 22,
		"uploadDir": "",
		"downloadDir": ""
	},
	"default1": {
		"username": "",
		"password": "",
		"host": "",
		"port": 22,
		"uploadDir": "",
		"downloadDir": ""
	}
}